{% extends 'base.html' %}
{% block title %}
    입고
{% endblock %}
{% block content %}
    <div class="container">
        <div class="wrap">
            <h2 class="title-center"> 입고 상품 등록 </h2>
            <form class="form-area" method="post" action="/inbound_create/">
                {% csrf_token %}
                <select class="form-select" aria-label="Default select example" method="get" id="product_code" name="product_code">
                    <label for="username"></label>
                    <option selected>상품 코드</option>
                    {% for pd in product_list %}
                        <option value="{{ pd.code }}">{{ pd.code }} / {{ pd.name }}</option>
                    {% endfor %}
                </select>
                <div class="form-group mt-2 mb-2">
                    <label for="username">수량</label>
                    <input type="number" class="form-control" id="inbound_quantity" name="inbound_quantity">
                </div>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <hr>
                <div style="float: right">
                    <button type="submit" class="btn btn-primary">입고</button>
                    <a href="/" class="btn btn-secondary">취소</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
