{% extends 'base.html' %}

{% block title %}
재고관리
{% endblock %}
{% block content %}
<head>
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
.container {
  margin-top: 50px;
}

.btn-primary {
  margin-bottom: 10px;
}

th {
  text-align: center;
}

td {
  vertical-align: middle;
}

td:last-child {
  text-align: center;
}

.btn-sm {
  margin: 0 5px;
}
</style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Product List</h1>
                <div class="pull-right">
                    <a href="" class="btn btn-primary">Add Product</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Size</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in product_list %}
                        <tr>
                            <td>{{ product.code }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.get_size_display }}</td>
                            <td>
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-info btn-sm">View</a>
                                <a href="{% url 'product_update' product.id %}" class="btn btn-warning btn-sm">Edit</a>
                                <a href="{% url 'product_delete' product.id %}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">No products available.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
</body>

</html>
